.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  background: #ffe600;
}

table {
  width: 100%;
}

.custom-table {
  width: 45%;
  margin-top: 30px;
  height: calc(100vh - 408px);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.custom-table::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.custom-header {
  font-style: unset;
  font-size: x-large;
  font-weight: lighter;
}
