.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 14px;
  background: #b1b1b1 url('src/assets/images/avatar.png') no-repeat;
  background-position: center top;
  background-size: cover;
}
