.graph {
  background-color: #e6e6e6;
}

// svg {
//   width: 1000px;
//   height: 1000px;
// }

// .node {
//   pointer-events: all;
//   cursor: pointer;
//   z-index: 1000;
// }

// .node text {
//   font: 8px sans-serif;
// }

circle .node {
  fill: rgb(197, 25, 25) !important;
  /*   stroke: steelblue; */
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: rgb(17, 7, 7);
  /*   stroke-width: 2px; */
}
