#graph {
  div {
    &:nth-child(2) {
      svg {
        g {
          g {
            &:nth-child(2) {
              g {
                &:nth-child(2) {
                  g {
                    g {
                      &:nth-child(3) {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#graph div {
  &:nth-child(2) {
    svg {
      display: none;
    }
  }
}

.hider {
  width: 68px;
  height: 42px;
  position: relative;
  top: -26px;
  background: #fbfbfb;
}
